<html>
  <head>
    <title>Music, Video</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//xbias.com/s/js/jquery.sonar.min.js"></script>
    <link href="//xbias.com/s/css/select2.css" rel="stylesheet"/>
    <script src="//xbias.com/s/js/select2.min.js"></script>
    <style type="text/css">
body{
  background-color: #9B9B9B;
  font-family: Ubuntu, Verdana;
}
ul.entries{
  width: 600px;
}
li{
  list-style-type: none;
  padding-bottom: 10px;
}
a{
  text-decoration: none;
  color: #262742;
}
a:hover{
  text-decoration: underline;
}

#add-form {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 450px;
  background-color: #1C1C1C;
  color: #FFF;
  padding: 15px;
}

#add-form span{
  font-size: 13px;
  padding-left: 5px;
}

#add-form div{
  spadding-right: 59px;
}

    </style>
  </head>
  <body>
    {% block body %}
    {% include "entries.html" %}
    {% endblock %}
<script type="text/javascript">
(function($){
$("iframe").bind("scrollin", function(){

var iframe = this,
$iframe = $(iframe);

$iframe.unbind("scrollin"); // clean up binding
iframe.src = $iframe.attr( "data-src" );

});
$("#tags").select2({tags:{{ tags_list|safe }}, tokenSeparators: [","]});

})(jQuery);
</script>
  </body>
</html>
