{% extends "base.html" %}
    {% block body %}
    <div id="add-button">+</div>
    <div id="close-button">&times;</div>
    <div id="close-playlist-button">&times;</div>
    <div id="add-form">
    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <div style="width: 180px; float: right;">
        <span>Artist</span>
        <input style="width: 155px;" tabindex="2" type="text" name="artist" />
      </div>
        <div style="padding-bottom: 10px; width: 180px;">
          <span>Title</span>
          <input style="width: 240px;" tabindex="1" type="text" name="title" />
        </div>
        <div style="margin-top: 5px; padding-right: 0px;">
          <span>URL</span><br />
          <input style="width: 425px;" tabindex="3" type="text" name="url" />
        </div>
        <div style="margin-top: 10px;">
          <span>Tags</span><br />
          <input type="hidden" tabindex="4" style="width: 425px; margin-top: 5px; font-size: 12px;" name="tags" id="tags" />
        </div>
        <div style="float: right; padding-top: 10px;">
          <input tabindex="5" type="submit" value="Add" />
        </div>
    </form>
    </div>
    {% if tags %}
    <div class="g">
    <div id="tag-cloud">
      {% for tag in tags.keys() %}
      <a style="font-size: {{ tags[tag] }}px;" href="/tag/{{ tag }}">{{ tag }}</a>
      {% endfor %}
    </div>
    </div>
    {% endif %}
    {% include "entries.html" %}
  {% endblock %}
