<html>
  <head>
    <title></title>
    <style type="text/css">
body{
  background-color: #CCC;
}

#add-form {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 450px;
  background-color: #262742;
  color: #FFF;
  padding: 15px;
  font-family: Ubuntu, Verdana;
}

#add-form span{
  font-size: 13px;
  padding-left: 5px;
}

#add-form div{
  spadding-right: 59px;
}

    </style>
  </head>
  <body>
    <div id="add-form">
    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
        <div style="padding-bottom: 10px; width: 200px; float: right;">
          <span>Artist</span>
          <input tabindex="2" type="text" size="20" name="artist" />
        </div>
        <div style="padding-bottom: 10px; width: 180px;">
          <span>Title</span>
          <input tabindex="1" type="text" size="20" name="title" />
        </div>
        <div style="margin-top: 5px; padding-right: 0px;">
          <span>URL</span><br />
          <input style="width: 425px;" tabindex="3" type="text" name="url" />
        </div>
        <div style="float: right; padding-top: 10px;">
          <input tabindex="4" type="submit" value="Add" />
        </div>
    </form>
    </div>
  <ul class="entries">
  {% for entry in entries %}
    <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
  {% else %}
    <li><em></em></li>
  {% endfor %}
  </ul>
  </body>
</html>
